/*-----------REFERENCIAS-----------*/
main {
    box-sizing: border-box;
    text-align: justify;
    font-size: 20px;
    max-width: 80%;
    margin: auto;
  }
  
h1 {
    padding: 10px;
    font-size: 45px;
    margin-bottom: -20px;
}

h2, p {
    padding: 10px;
}

h3 {
    font-size: 35px;
}

.preco {
    font-size: 40px;
    color: #F26513;
    font-weight: 600;
    margin-bottom: -20px;
    margin-top: -2px;
}

.botao {
    background-color: #5581D9;
    border: 2px solid #5581D9;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.botao:hover {
    background: white;
    color: #5581D9;
    border: 2px solid #5581D9;
}

.requisitos {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -10px;
}

/* Container */
section
{
    display: flex;
    flex-wrap: wrap;
}

/* Colunas */
.column 
{
    flex: 25%;
    padding: 20px;
    flex-direction: row;
}

img {
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 992px) {
    .column {
        flex: 50%;
    }

    main {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    img {
        flex-direction: column;

    }
}

@media screen and (max-width: 400px) {
    .row {
        flex-direction: column;
    }

    img {
        flex-direction: column;
    }
}

