/*-------------QUIZ-------------*/
.quiz {
    padding: 10px;
    margin: auto;
    max-width: 70%;
}

.campoquiz {
    justify-content: center;
}

.pergunta {
    font-weight: bold;
    color: #F2A922;
}

li {
    color: black;
}

input, select, textarea, .campo input[type="text"] {
    font-size: 16px;
    border-radius: 5px;
}

.campo {
    margin-bottom: 16px;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

.campo select, .campo textarea, .campo input[type="text"] {
    padding: 0.2em;
    border: 1px solid #105773;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

textarea {
    width: 300px;
}

.campo select:focus, .campo textarea:focus, .campo input[type="text"] {
    background: #D8E6F2;
}

button {
    border-radius: 20px;
}

.botao {
    background-color: #5581D9;
    border: 2px solid #5581D9;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.botao:hover {
    background: transparent;
    color: #5581D9;
    border: 2px solid #5581D9;
}